@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mx-4">
    <div class="row justify-content-center">
        <div class=" col-12">
            <div class="card shadow">
                <div class="card-header bg-purple text-white text-center">
                    <h2 class="card-title" style="margin-right: 85px; margin-top: 20px;">Lista de categorias</h2>
                </div>
                <div class="card-body">
                    <div class="text-center mb-3">
                        <button class="btn btn-primary" id="btnNuevo"> <i class="bi bi-film"></i> Añadir categoria</button>
                    </div>
                    <table class="table table-bordered table-striped" id="tbCategoria">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                           </tr>
                        </thead>
                        <tbody>

                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1">
    <div class="modal-dialog modal'lg'">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white ">
                <h5 class="modal-title">Detalle categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtId" value="0" />
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" />
                </div>                           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar"> <i class="bi bi-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <i class="bi bi-x-circle"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        const Modelo_base = {
            id: 0,
            nombre: "",
        }

        $(document).ready(() => {

            listaCategorias();
        })

        function mostrarModal(modelo) {

            $("#txtId").val(modelo.id);
            $("#txtNombre").val(modelo.nombre)

            $('.modal').modal('show');

        }
        //ABRIR UN NUEVO MODAL DE EDICIÓN
        $("#btnNuevo").click(() => {

            mostrarModal(Modelo_base);
        })
        //GUARDA LOS CAMBIOS DENTRO DEL MODAL DE EDICION
        $("#btnGuardar").click(() => {
            let NuevoModelo = Modelo_base;

            NuevoModelo["id"] = $("#txtId").val();
            NuevoModelo["nombre"] = $("#txtNombre").val();

            const nombre = NuevoModelo["nombre"].trim();

            if (nombre === "") {
                alert("El campo del categoria no puede estar vacío.");
                return
            }




            //COMPRUEBA SI EL CAMPO ID TIENE EL VALOR "0"
            if ($("#txtId").val() == "0") {
                fetch("Home/Insertar", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if (dataJson.valor) {
                            alert("categoria Registrada.");
                            $('.modal').modal('hide');
                            listaCategorias();
                        }
                    })
            }
            //SI EL CAMPO ID NO TIENE EL VALOR DE "0" SIGNIFICA QUE SE ESTÁ EDITANDO UN REGISTRO EXISTENTE
            else {
                fetch("Home/Actualizar", {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(NuevoModelo)
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })

                    .then((dataJson) => {

                        if (dataJson.valor) {
                            alert("categoria Editada.");
                            $('.modal').modal('hide');
                            listaCategorias();
                        }
                    })
            }

        })

        //FUNCIÓN PARA OBTENER DATOS DE LAS PELÍCULAS

        function listaCategorias() {

            fetch("Home/Lista")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {

                    $("#tbCategoria tbody").html("");

                    dataJson.forEach((item) => {

                        $("#tbCategoria tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombre),
                                $("<td>").append(
                                    $("<button>").addClass("btn btn-warning btn-sm mb-2 btn-editar").data("modelo", item).html('<i class="fas fa-edit"></i> Editar'),
                                    $("<button>").addClass("btn btn-danger btn-sm btn-eliminar").data("id", item.id).html('<i class="fas fa-trash"></i> Eliminar')
                                )

                            )
                        )
                    })
                })
        }

        //FUNCION PARA EDITAR LOS DATOS DE LAS PELÍCULAS

        $("#tbCategoria tbody").on("click", ".btn-editar", function () {
            let categoria = $(this).data("modelo")

            mostrarModal(categoria)
        })

        //FUNCION PARA ELIMINAR LOS DATOS DE LAS PELÍCULAS

        $("#tbCategoria tbody").on("click", ".btn-eliminar", function () {
            let id = $(this).data("id")

            let resultado = window.confirm("¿Desea eliminar la pelicula?");

            if (resultado) {

                fetch("Home/Eliminar?id=" + id, {
                    method: "DELETE"
                })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if (dataJson.valor) {
                            listaCategorias();
                        }
                    })
            }
        })

    </script>
 }