html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2F3131;
}

.bg-black {
    background-color: #000000;
}

.bg-pink {
    background-color: #e9d0c3;
}


/* Estilos para reducir el tamaño del contenedor de Estados
#tbCategoria {
    max-width: 500px; /* Define el ancho máximo del contenedor */
    max-height: 300px; /* Define la altura máxima del contenedor */
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido es más grande que el contenedor */
}




