
*@
@{
    ViewData["Title"] = "Registro Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-4">
    <div class="row justify-content-center">
        <div class="col-12 d-flex">
            <div class="card shadow">
                <div class="card-header bg-success text-white text-center">
                    <h2 class="card-title" style="margin-right: 85px; margin-top: 20px;">Registro de Usuario</h2>
                </div>
                <div class="card-body">
                    <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary"> <i class="bi bi-person-plus mx-2"></i> Registrar Usuario</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>